.TodoList {
  display: flex;
}
#cacao {
  margin-top: 60px;
  background-color: rgba(244, 165, 96, 0.459);
  width: 98%;
  margin-left: 1%;
}

.TodoList .newTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7vw;
}
.TodoList .newTask button {
  background-color: rgb(67, 178, 52);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15%;
  margin-top: 100px;
}

.TodoList .icon {
  font-size: 2.3em;
}

.TodoList .containerBtn {
  display: flex;
  width: 90vw;
}
.TodoList .containerBtn button {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  flex: 1;
  border: 1px solid rgb(207, 204, 204);
  background-color: rgba(248, 246, 246, 0.938);
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
}

.TodoList .containerBtn button:hover {
  filter: brightness(90%);
  color: rgb(26, 129, 205);
}

.TodoList .contentTask {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.TodoList .total {
  display: flex;
  color: white;
  /* border: 2px solid red; */
  width: 100%;
}

.TodoList .total p {
  text-align: end;
  padding-right: 2%;
  width: 80%;
}

.active {
  border-bottom: 4px solid green !important;
  filter: brightness(90%);
}

.TodoList span {
  border: none !important;
}
